.slider-wrapper {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 5;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  cursor: pointer;
}

.slider-btn.prev {
  font-size: 35px;
  left: -10px;
}

.slider-btn.next {
  font-size: 35px;
  right: -10px;
}

